<ion-header>
  <ion-toolbar [color]="color ? color : 'primary'">
    <ion-buttons *ngIf="backButton">
      <!-- fechar modal -->
      <ion-button *ngIf="isModal">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      </ion-button>

      <!-- botão de voltar -->
      <ion-back-button defaultHref="backButton"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="title" [class.ion-text-center]="centerTitle">
      {{ title }}
    </ion-title>

    <!-- botões de mudar tema -->
    <ion-buttons slot="end">
      <ion-button (click)="toggleTheme()">
        <ion-icon 
          [name]="(darkMode$ | async) ? 'sunny' : 'moon'" 
          slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>